#add-attributes-popup  {
  background-color: white;
  border: 5px solid silver;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: .5em;
  width: 17em;
}
#add-attributes-popup .busy {
  float: right;
}
#add-attributes-popup h3 {
  margin-top: 0;
}
#add-attributes-popup .close-link {
  font-size: 85%;
}
