- @javascripts << 'admin/structures'
- @stylesheets << 'admin/structures'
#page-attributes
  #add-page-attribute
    = link_to_function image('plus', :alt => 'plus'), 'toggle_add_page_attribute_popup()', :title => 'Add Page Attribute'
  %table.fieldset#page-attributes-fieldset
    = render :partial => "/admin/page_attributes/page_attribute", :collection => @page.page_attributes
